<div class="new-movie-card">
	
	<%= form_for(@movie, :url => {:action => 'create'}, :html => {:multipart => true}) do |f| %>
		<div class="input-field">
			<%= f.text_field(:title, required: true) %>
			<%= f.label(:title, "Title") %>
		</div>
		<div class="input-field">
			<%= f.text_area(:synopsis, required: true, class: "materialize-textarea") %>
			<%= f.label(:synopsis, "Synopsis") %>
		</div>
		
		<div class="file-field input-field">
      <div class="btn">
        <span>Image</span>
        <input name="movie[image]" type="file">
      </div>
      <div class="file-path-wrapper">
        <input class="file-path" type="text">
      </div>
    </div>


		<div class="input-field right-align">
			<%= f.button("Add Movie", class: "btn waves-effect waves-light") %>
		</div>
	<% end %>
	
</div>

<div class="back-button right-align">
	<%= render "back_button" %>
</div>
