<div class="registration-card">

	<div class="header-text">
		<h3>Create Account</h3>
	</div>
	<div class="registration-form">
		<%= form_for(@user, url: {action: 'create'}) do |f| %>
			<div class="input-field">
				<%= f.text_field(:alias, {class: 'validate', required: true, minlength: 6, maxlength: 20}) %>
				<%= f.label(:alias, "Alias") %>
			</div>
			<div class="input-field">
				<%= f.text_field(:email, {required: true, class: "validate", type: "email"}) %>
				<%= f.label(:email, "Email") %>
			</div>
			<div class="input-field">
				<%= f.password_field(:password, {minlength: 4, required: true, class: "validate"}) %>
				<%= f.label(:password, "Password") %>
			</div>
			<div class="input-field">
				<%= f.password_field(:password_confirmation, {minlength: 4, required: true, class: "validate"}) %>
				<%= f.label(:password_confirmation, "Verify Password") %>
			</div>
			<div class="input-field right-align">
				<%= f.button("Create", class: "btn waves-effect waves-light") %>
			</div>
		<% end %>
	</div>
</div>
