<nav class="nav-wrapper">
	<% if (session[:admin]) %>
		<%= link_to('Admin', root_path, {class: 'brand-logo center'}) %>
	<% else %>
		<%= link_to('Muvie Goer', root_path, {class: 'brand-logo center'}) %>
	<% end %>

	<ul class="left hide-on-med-and-down">
		<% if (session[:user_id]) %>
		<!-- SHOW IF USER IS LOGGED IN -->
			<li><%= link_to("Log Out", '/signout') %></li>
		<% else %>
		<!-- SHOW IF USER IS NOT LOGGED IN -->
			<li><%= link_to("Login", '/signin') %></li>
			<li><%= link_to("Sign Up", '/signup') %></li>
		<% end %>
	</ul>
	<ul class="right">
		<li class="hide-on-med-and-down">
			<%= link_to("Movie Index", movies_path) %>
		</li>
		<li>
			<div class="right hide-on-small-only">
				<!-- SEARCH FORM -->
				<%= render "search_form" %>
			</div>
			<!-- END SEARCH FORM -->
		</li>
	</ul>
	
	<!-- MOBILE NAV BAR -->
	<a class="left button-collapse margin-left-10" data-activates="mobile-nav"><i class="material-icons">menu</i></a>
	<ul id="mobile-nav" class="side-nav red lighten-3">
		<li>
			<%= link_to('Muvie Goer', root_path) %>
		</li>
		<li>
			<%= link_to("Movie Index", movies_path) %>
		</li>
		<li>
			<div class="hide-on-med-and-up">
				<!-- SEARCH FORM -->
				<%= render "search_form" %>
			</div>
		</li>
		<% if (session[:user_id]) %>
		<!-- SHOW IF USER IS LOGGED IN -->
			<li><%= link_to("Log Out", '/signout') %></li>
		<% else %>
		<!-- SHOW IF USER IS NOT LOGGED IN -->
			<li><%= link_to("Login", '/signin') %></li>
			<li><%= link_to("Sign Up", '/signup') %></li>
		<% end %>
	</ul>
	<!-- END MOBILE NAV BAR -->
</nav>