<nav class="nav-wrapper">
	<% if (session[:admin]) %>
		<span class="brand-logo center">You're an Admin!</span>
	<% else %>
		<%= link_to('Muvie Goer', root_path, {class: 'brand-logo center'}) %>
	<% end %>

	<ul class="left hide-on-med-and-down">
		<% if (session[:user_id]) %>
		<!-- SHOW IF USER IS LOGGED IN -->
			<li><%= link_to("Log Out", '/signout') %></li>
		<% else %>
		<!-- SHOW IF USER IS NOT LOGGED IN -->
			<li><%= link_to("Login", '/signin') %></li>
			<li><%= link_to("Sign Up", '/signup') %></li>
		<% end %>
	</ul>
	
	<!-- SEARCH FORM -->
	<div class="right hide-on-small-only">
		<%= form_tag('/movies/search', method: 'get') do %>
				<div class="input-field">
					<%= text_field_tag(:title, params[:title], id: 'search', type: 'search', required: true) %>
					<%= label_tag(:search) do %>
						<i class="mdi mdi-magnify"></i>
					<% end %>
				</div>
			<% end %>
	</div>
	<!-- END SEARCH FORM -->
	
	<!-- MOBILE NAV BAR -->
	<a class="left button-collapse margin-left-10" data-activates="mobile-nav"><i class="mdi mdi-menu"></i></a>
	<ul id="mobile-nav" class="side-nav red lighten-3">
		<li>
			<%= link_to('Muvie Goer', root_path) %>
		</li>
		<li>
			<div class="hide-on-med-and-up">
				<%= form_tag('/movies/search', method: 'get') do %>
						<div class="input-field">
							<%= text_field_tag(:title, params[:title], id: 'search', type: 'search', required: true) %>
							<%= label_tag(:search) do %>
								<i class="mdi mdi-magnify"></i>
							<% end %>
						</div>
					<% end %>
			</div>
		</li>
		<% if (session[:user_id]) %>
		<!-- SHOW IF USER IS LOGGED IN -->
			<li><%= link_to("Log Out", '/signout') %></li>
		<% else %>
		<!-- SHOW IF USER IS NOT LOGGED IN -->
			<li><%= link_to("Login", '/signin') %></li>
			<li><%= link_to("Sign Up", '/signup') %></li>
		<% end %>
	</ul>
	<!-- END MOBILE NAV BAR -->
</nav>