<div class="edit-review-card">
	
	<%= form_for(@review, url: {action: 'update'}) do |f| %>
		<div class="input-field rating-select">
			<%# f.select(:rating, (1..10)) %>
			<%# f.label(:rating, "Rating") %>
			<div id="rateyo"></div>
			<%= f.label(:rating, "Rating") %>
			<%= f.number_field(:rating, hidden: true, class: "validate") %>
		</div>
		
		<div class="input-field">
			<%= f.text_area(:comment, {required: true, class: "materialize-textarea"}) %>
			<%= f.label(:comment, "Comments") %>
		</div>
		
		<div class="input-field right-align">
			<%= f.button("Change Review", class: "btn waves-effect waves-light green") %>
		</div>
	<% end %>

</div>


<div class="back-button right-align">
	<%= render "back_button" %>
</div>

<div class="delete right-align">
	<%= link_to "delete", movie_reviews_path, method: "delete", data: { confirm: "You sure?" } %>
</div>

<script>
	$(function() {
		$('#rateyo').rateYo({
			maxValue: 10,
			rating: $('#review_rating').val(),
			halfStar: true,
			onSet: function(rating, rateYoInstance) {
				$('#review_rating').val(rating);
			}
		})
	})
</script>