<div class="review-card">
	
	<%= form_for(@review, url: {action: 'create'}) do |f| %>
		<div class="input-field rating-select">
			<%# f.select(:rating, (1..10), selected: 5) %>
			<%# f.label(:rating, "Rating") %>
			<div id="rateyo"></div>
			<%= f.label(:rating, "Rating") %>
			<%= f.number_field(:rating, value: 5, hidden: true, class: "validate") %>
		</div>
		
		<div class="input-field">
			<%= f.text_area(:comment, {required: true, class: "materialize-textarea"}) %>
			<%= f.label(:comment, "Comments") %>
		</div>
		
		<div class="input-field right-align">
			<%= f.button("Add Review", class: "btn waves-effect waves-light green") %>
		</div>
	<% end %>
	
</div>

<div class="back-button right-align">
	<%= render "back_button" %>
</div>

<script>
	$(function() {
		$('#rateyo').rateYo({
			maxValue: 10,
			rating: 5,
			halfStar: true,
			onSet: function(rating, rateYoInstance) {
				$('#review_rating').val(rating);
			}
		})
	})
</script>