<!DOCTYPE html>
<html>
<head>
  <title>Moviedatabase</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <link rel="stylesheet" href="http://cdn.materialdesignicons.com/1.5.54/css/materialdesignicons.min.css">
  <%= csrf_meta_tags %>
</head>
<body>

<%= render "nav" %>

<div class="container">

	<div class="col s12 m10 offset-m1 main">
		<%= yield %>
	</div>
	
</div>

</body>
</html>
